{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Warning",
      "Microsoft.EntityFrameworkCore.Database.Command": "Information"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=your-server;initial catalog=DVLD-EFCore;integrated security=true; TrustServerCertificate=True"
  },
  "JwtSettings": {
    "SecretKey": "your-256-bit-secret-key-min-32-characters-long",
    "Issuer": "DVLD.API",
    "Audience": "DVLD.Client",
    "ExpiryInMinutes": 30,
    "RefreshTokenExpiryDays": 7
  }
}
